body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.inventario-container {
    margin: 20px;
}

.header-container {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
    justify-content: space-between; /* Separa el texto y el logotipo */
    gap: 15px;
    margin-bottom: 20px;
}

.titulo-inventario {
    font-size: 24px; /* Tamaño del texto */
    margin: 0; /* Elimina márgenes */
    flex-grow: 1; /* Ocupa el espacio restante para que el logotipo quede a la derecha */
}

.logotipo {
    width: 300px; /* Tamaño del logotipo */
    height: auto; /* Mantiene la proporción de la imagen */
}

.inventario-form-container {
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-weight: bold;
}

.input-group input, .input-group textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.lista-productos-container {
    margin-top: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}
